<?xml version="1.0"?>

<model>
  <name>Wind Turbine 70m</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Lucas Teixeira</name>
    <email>lteixeira@mavt.ethz.ch</email>
  </author>

  <description>
    A wind turbine model inpired in the v90 by Luiz F Monteiro - using https://grabcad.com/library/wind-turbine-72
  </description>
</model>
